body {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto; }

.form-1 {
  max-width: 300px; }
  .form-1 input {
    width: 100%; }
  .form-1 textarea {
    width: 100%; }

.form-2 {
  max-width: 400px; }
  .form-2 table {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-collapse: collapse; }
  .form-2 textarea {
    margin-bottom: 15px; }
  .form-2 input[type=text] {
    width: 85%; }
  .form-2 input[type=email] {
    width: 85%; }
  .form-2 input[type=password] {
    width: 85%; }
  .form-2 td {
    vertical-align: top; }
  .form-2 tr:after {
    content: "";
    height: 40px;
    display: block; }

.form-3 {
  max-width: 600px; }
  .form-3 label {
    display: block;
    margin-bottom: 23px; }
  .form-3 .label-group {
    display: inline-block;
    width: 25%;
    vertical-align: top; }
  .form-3 .input-group {
    display: inline-block;
    width: 35%; }
    .form-3 .input-group input[type=text],
    .form-3 .input-group input[type=email],
    .form-3 .input-group input[type=password],
    .form-3 .input-group textarea {
      width: 100%;
      display: inline-block; }
    .form-3 .input-group textarea {
      margin-bottom: 15px; }
    .form-3 .input-group input {
      margin-bottom: 20px; }
    .form-3 .input-group input:focus,
    .form-3 .input-group textarea:focus {
      background-color: yellow;
      border-color: cyan; }

.form-5 {
  width: 350px; }
  .form-5 label {
    display: block;
    overflow: hidden;
    margin-bottom: 20px; }
    .form-5 label span {
      vertical-align: top; }
    .form-5 label input {
      float: right;
      clear: both;
      width: 57%;
      height: 20px;
      padding: 5px;
      font-weight: 700; }
    .form-5 label input[type=text] {
      background: url("../img/human-user-outline-icon.png") no-repeat scroll 1px center;
      background-size: 20px;
      padding-left: 20px;
      width: 52.5%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border-color: green; }
    .form-5 label input[type=email] {
      border-color: blue; }
    .form-5 label textarea {
      float: right;
      clear: both;
      width: 60%;
      background: url("../img/letter-open-icon.png") no-repeat right bottom;
      background-size: 40px; }
  .form-5 input[type=submit] {
    margin-left: 38%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #1301FE), to(#F6F6F6));
    background: -webkit-linear-gradient(bottom, #1301FE 20%, #F6F6F6 100%);
    background: linear-gradient(360deg, #1301FE 20%, #F6F6F6 100%);
    color: whitesmoke;
    padding: 5px 10px 5px 10px; }

.form-6 {
  width: 500px; }
  .form-6 label {
    display: block; }
    .form-6 label input {
      margin: 0 10px 10px 0; }
    .form-6 label #search-icon {
      background: url("../img/search-icon-png-0.png") no-repeat center center;
      background-size: 15px;
      padding: 20px 20px 0 10px;
      vertical-align: middle;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .form-6 label:nth-child(n+2) input {
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .form-6 label:nth-child(3) input {
    background: url("../img/search-icon-png-0.png") no-repeat scroll 1px center;
    background-size: 15px;
    padding-left: 25px;
    width: 27.5%; }

.form-7 {
  width: 500px; }
  .form-7 label {
    display: block; }

.form-7-1 {
  margin-top: 20px;
  width: 500px; }
  .form-7-1 form:first-child {
    display: inline-block;
    width: 60%; }
  .form-7-1 form:last-child {
    display: inline-block;
    width: 30%; }
  .form-7-1 label {
    display: block; }

.form-7-2 {
  width: 100%; }
  .form-7-2 table, .form-7-2 tr, .form-7-2 td {
    border: 1px solid black;
    border-collapse: collapse; }
