body {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto; }

.form-1 {
  max-width: 300px; }
  .form-1 input {
    width: 100%; }
  .form-1 textarea {
    width: 100%; }

.form-2 {
  max-width: 400px; }
  .form-2 table {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-collapse: collapse; }
  .form-2 input[type=text] {
    width: 85%; }
  .form-2 input[type=email] {
    width: 85%; }
  .form-2 input[type=password] {
    width: 85%; }
  .form-2 td {
    vertical-align: top; }
  .form-2 tr:after {
    content: "";
    height: 40px;
    display: block; }

.form-3 {
  max-width: 600px; }
  .form-3 label {
    display: block; }
  .form-3 label:after {
    content: '';
    display: block;
    height: 5px; }
  .form-3 .label-group {
    display: inline-block;
    width: 25%;
    vertical-align: top; }
  .form-3 .input-group {
    display: inline-block;
    width: 35%; }
    .form-3 .input-group input[type=text],
    .form-3 .input-group input[type=email],
    .form-3 .input-group input[type=password],
    .form-3 .input-group textarea {
      width: 100%;
      display: inline-block; }
    .form-3 .input-group input {
      content: '23';
      height: 33px;
      display: block; }
