body {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.form-1 {
	max-width: 300px;
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
}

.form-2 {
	max-width: 400px;
	table {
		width: 100%;
		box-sizing: border-box;
		border-collapse: collapse;
	}
	textarea {
		margin-bottom: 15px;
	}
	input[type = text] {
		width: 85%;
	}
	input[type = email] {
		width: 85%;
	}
	input[type = password] {
		width: 85%;
	}
	td {
		vertical-align: top;
	}
	tr:after {
		content: "";
		height: 40px;
		display: block;
	}
}

.form-3 {
	max-width: 600px;
	label {
		display: block;
		margin-bottom: 23px;
	}
	.label-group {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
	.input-group {
		display: inline-block;
		width: 35%;
		input[type = text],
		input[type = email],
		input[type = password],
		textarea {
			width: 100%;
			display: inline-block;
		}
		textarea {
			margin-bottom: 15px;
		}
		input {
			margin-bottom: 20px;
		}
		input:focus,
		textarea:focus {
			background-color: yellow;
			border-color: cyan;
		}
	}
}

.form-5 {
	width: 350px;
	label {
		display: block;
		overflow: hidden;
		margin-bottom: 20px;
		span {
			vertical-align: top;
		}
		input {
			float: right;
			clear: both;
			width: 57%;
			height: 20px;
			padding: 5px;
			font-weight: 700;
		}
		input[type = text] {
			background: url("../img/human-user-outline-icon.png") no-repeat scroll 1px center;
			background-size: 20px;
			padding-left: 20px;
			width: 52.5%;
			border-radius: 5px;
			border-color: green;
		}
		input[type = email] {
			border-color: blue;
		}
		textarea {
			float: right;
			clear: both;
			width: 60%;
			background: url("../img/letter-open-icon.png") no-repeat right bottom;
			background-size: 40px;
		}
	}
	input[type = submit] {
		margin-left: 38%;
		background: linear-gradient(360deg, #1301FE 20%, #F6F6F6 100%);
		color: whitesmoke;
		padding: 5px 10px 5px 10px;
	}
}

.form-6 {
	width: 500px;
	label {
		display: block;
		input {
			margin: 0 10px 10px 0;
		}

		#search-icon {
			background: url("../img/search-icon-png-0.png") no-repeat center center;
			background-size: 15px;
			padding: 20px 20px 0 10px;
			vertical-align: middle;
			border-radius: 50%;
		}
	}
	label:nth-child(n+2) {
		input {
			border-radius: 5px;
		}
	}
	label:nth-child(3) {
		input {
			background: url("../img/search-icon-png-0.png") no-repeat scroll 1px center;
			background-size: 15px;
			padding-left: 25px;
			width: 27.5%;
		}
	}
}



























